  <div class="navbar-brand">
    <a
      class="navbar-item"
      href="https://emberjs.com/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fab js-logo fa-vuejs fa-2x" aria-hidden="true" />
    </a>
    {{yield}}
  </div>
