<HeaderBar>
  <HeaderBarBrand>
    <LinkTo @route="index" class="navbar-item nav-home router-link-active">
      <span class="brand-first">MY</span><span class="brand-second">SHOPPING</span><span class="brand-third">LIST</span>
    </LinkTo>
  </HeaderBarBrand>
</HeaderBar>

<h2 id="title">Welcome to Ember</h2>

{{outlet}}